*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
   
}

.logo{
    margin-top: 1rem;
}

.logo h3{
    font-family: 'Poppins', sans-serif;
    color: #3b8174;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  
    position: absolute;
    border-radius: 50%;
}

.circle1{
top: 5%;
right: 15%;
height: 15rem;
width: 15rem;
}

.circle2{
bottom: 5%;
left:10%;
height: 12rem;
width: 12rem;
}

.dash-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex:3;
    margin-bottom: 5rem;
}

.menu-icon svg {
    font-size: 2.5rem;
}


.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:stretch;
    flex: 3;
    margin-left: 10%;
    margin-right: 10%;
}

.card{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left top, rgba(255,255,255,0.6),rgba(255,255,255,0.4));
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    border-radius: 1rem;
    padding: 1rem;
}



.card img{
    margin-right: 2rem;
    width: 72px;
    height: 72px;
}


.pair-font{
    color: rgb(61, 201, 175);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.price-font{
    color: rgb(61, 201, 175);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.card-info{
    display: flex;
    align-items: center;
}



.data-card{
    display: flex;
    align-items: center;
}

.weather-card-container{
    display: flex;
    flex-direction: column;
}
    
.weather-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left top, rgba(255,255,255,0.6),rgba(255,255,255,0.4));
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    border-radius: 1rem;    
  
}
.weather-card h3{
    color: rgb(61, 201, 175);
    font-family: 'Poppins', sans-serif;
}
.weather-card img{
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 768px){
    .glass{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .glass{
        flex-direction: column;
        height: 100vh;
        border-radius: 0;
    }
    .dash-menu{
        flex-direction: row;
        flex: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
    .logo{
        margin-top: 0;
        flex: 1;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    
    }

    .links{
        flex-direction: row;
        margin-bottom: 0;
    }

    .card{
        justify-content: space-evenly;
    }

    .card img{
        margin-right: 0.8rem;
        width: 54px;
        height: 54px;
    }

    .cards{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .pair-font {
        font-size: 14px;
        margin-right: 4px;
    }
    .price-font {
        font-size: 14px;
    }
    .weather-card{
        font-size: 14px;
    }
    .weather-card img{
        height: 50px;
        width: 50px;
    }
    .menu-icon svg {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .circle1,.circle2{
        display: none;
    }
}



/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

